
.wrapper-inner-tab{
	float: left;
	width: 100%;
}
.wrapper-inner-tab-title {
	width: 100%;
	margin-top:10px;
	font-size:16px; font-weight:bold;
	color: #666666;
	float: left;
	text-align: center;
	margin-bottom:20px;
}
.wrapper-inner-tab-backgrounds { 
	margin: 0 auto;
	height: 300px;
	width: 950px;
}
.wrapper-inner-tab-backgrounds-first{
	float: left;
	height: 300px;
	width: 33.33%;
}
.wrapper-inner-tab-backgrounds-second{
	float: left;
	height: 300px;
	width: 33.33%;
}
.wrapper-inner-tab-backgrounds-third{
	float: left;
	height: 300px;
	width: 33.33%;

}
.sim-button{
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 125px;
	width: 60%;
	cursor: pointer;
}
.button1 {
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid rgba(255,255,255,0.5);
}
.button1 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button1:hover {
	background-color: rgba(255,255,255,0.2);
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;	
}
.button2 {
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid rgba(255,255,255,0.5);
	overflow: hidden;
}
.button2 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button2 span {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.button2:hover{
	background-color: rgba(255,255,255,0.2);
}
.button2:hover > span{
	opacity: 0;
	-webkit-transform: translate(0px,-40px);
	transform: translate(0px,-40px);
}
.button2::after{
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transform: translate(0, 30%);
	transform: translate(0, 30%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;	
}
.button2:hover::after{
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.button3 {
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid rgba(255,255,255,0.5);
	overflow: hidden;
}
.button3 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button3 span {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.button3:hover{
	background-color: rgba(255,255,255,0.2);
}
.button3:hover > span{
	opacity: 0;
	-webkit-transform: translate(0px,40px);
	transform: translate(0px,40px);
}
.button3::after{
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transform: translate(-30%, 0);
	transform: translate(-30%, 0);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;	
}
.button3:hover::after{
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.button4 {
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid rgba(255,255,255,0.5);
	overflow: hidden;
}
.button4 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button4 > span {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.button4:hover{
	background-color: rgba(255,255,255,0.2);
}
.button4:hover > span{
	opacity: 0;
	-webkit-transform: translate(0px,40px);
	transform: translate(0px,40px);
}
.button4::after{
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transform: translate(-30%, -50%) rotate(-30deg);
	transform: translate(-30%, -50%) rotate(-30deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;	
	
}
.button4:hover::after{
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}